table{
    width: 100%;
}
h1{
    text-align: center;
}
td,th{
    border: 2px solid black;
    width:14.27%;
}
th{
    padding: 8px 0;
    background-color:red;
    color:black;
}
td{
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 100px;
}
.weekend{
    background-color: blue;
    color: black;
}
.regular{
    background-color: green;
    color: black;
}
.NoSchool{
    background-color: silver;
    color: black;
}
table{
    width: 100%;
}
h1{
    text-align: center;
}
td,th{
    border: 2px solid black;
    width:14.27%;
}
th{
    padding: 8px 0;
    background-color:red;
    color:black;
}
td{
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 100px;
}
.weekend{
    background-color: black;
    color: red;
}
.regular{
    background-color: gray;
    color: red;
}
.NoSchool {
    background-color: Darkblue;
    color: red;
}